<nav>
    <a href="/">Home</a>
    <a href="/companyhistory">Company History</a>
    <a href="/pastwork">Past Work</a>
    <a href="/staff">Staff</a>
    <a href="/contact">Contact Us</a>
    <a href="/links">Links</a>
  </nav>