<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <ul>
      <li><a href="https://www.facebook.com">Facebook</a></li>
      <li><a href="https://www.twitter.com">Twitter</a></li>
      <li><a href="https://www.instagram.com">Instagram</a></li>
      <li><a href="https://www.linkedin.com">LinkedIn</a></li>
      <li><a href="https://www.youtube.com">YouTube</a></li>
    </ul>
  </body>
</html>
