<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <ul>
      <li>
        <a href="about:blank" target="_blank">Orchard OS Project Details</a>
      </li>
      <li>
        <a href="about:blank" target="_blank"
          >Golden Seed Cloud Storage Project Details</a
        >
      </li>
      <li>
        <a href="about:blank" target="_blank"
          >Branch Metrics Analytics Project Details</a
        >
      </li>
      <li>
        <a href="about:blank" target="_blank"
          >AppleCore IoT Solutions Project Details</a
        >
      </li>
      <li>
        <a href="about:blank" target="_blank"
          >Cider Security Suite Project Details</a
        >
      </li>
    </ul>
  </body>
</html>
