<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Works</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <ul>
    <% pastworks.forEach(e => { %>
        <a href="/pastwork/<%= e.name %>">
        <li><%= e.name %></li>
        </a>
    <% }) %>
    </ul>
</body>
</html>