<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Staff</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <ul>
      <% staff.forEach(e => { %>
      <a href="/staff/<%= e.name %>">
        <li><%= e.name %></li>
      </a>
      <% }); %>
    </ul>
  </body>
</html>
